@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
:root{
    --footer-color: #202020;
    --bg-color: black;
    --hover-color: rgba(62, 61, 62, 0.5);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
}


.flex{
    display: flex;
    flex-flow: row wrap;
}

.flex-update{
    justify-content: space-between;
    flex-wrap: nowrap;
}


.gap{
    gap: 15px 5px;
}

body{
    background-color: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 100vh;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

header{
    height:40px;
    position: relative;
}

#view{
    position: absolute;
    top: 0;
    right: 0;
    font-size: .7rem;
    padding: .3rem;
    font-weight: 700;
}

#view a{
    padding: 0 .5rem;
    background-color: var(--hover-color);
    border-radius: 5px;
}


.card{
    width: calc((100% / 7) - 5px);
    min-width: 150px;
    border: 1px solid white;
    position: relative;
    height: calc(((100vh - 100px -1rem) / 5) - 15px);
}

.card img{
    height: 100%;
    width: 100%;
}

.banner{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--hover-color);
    font-size: .8rem;
    padding: .3rem;
}

footer{
    height: 60px;
    margin-top: 1rem;
    background-color: var(--footer-color);
    padding: .5rem 1rem;
}

li{
    margin-right: 1rem;
}

.icons{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.fa-solid.fa-microphone{
    font-size: 1.6rem;
    padding: 0 .2rem;
}

.fa-solid.fa-caret-down{
    font-size: .8rem;
}

footer li span{
    display: block;
    font-size: .8rem;
    font-weight: 300;
    padding-top: .2rem;
}

.fa-solid.fa-camera{
    font-size: 1.6rem;
}